.input-wrap {
  padding: .2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  gap: 0.8rem;
}

.input-wrap>label {
  font-size: 1.5rem;
}

.input-wrap>input,
.input-wrap>textarea {
  width: 100%;
  background-color: black;
  outline: none;
  padding: 1.3rem;
  border: none;
  font-size: medium;
  border-radius: 1.5rem;
}

.submit {
  border: none;
  padding: 1rem;
  width: 10%;
  background-color: rgb(10, 102, 194);
  color: white;
  border-radius: 2rem;
  margin-top: 1.5rem;
}

.input-wrap>input:focus,
.input-wrap>textarea:focus {
  outline: 5px solid #0074fd;
}

.submit:hover {
  outline: 5px solid #0074fd;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  padding: 0rem 2rem
}

label {
  padding-left: 1rem;
}


@media only screen and (max-width:768px) {
  .input-wrap {
    padding: .2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.8rem;
  }

  .submit {
    border: none;
    padding: 1rem;
    width: 100%;
    background-color: rgb(10, 102, 194);
    color: white;
    border-radius: 2rem;
    margin-top: 1.5rem;
  }
}