.container-project {
  width: 80vw;
  height: 80vh;
  display: flex;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}

.card {
  right: 0px;
  width: 80vw;
  height: 80vh;
  position: absolute;
}

.ele {
  width: 80vw;
  height: 80vh;
  position: absolute;
}

.sliderdiv {
  position: absolute;
  right: 0px;
  overflow: hidden;
  height: 80vh;
  border-left: 3px solid white;
  width: 30%;
  transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.slider {
  position: absolute;
  width: 100%;
  margin-top: 38vh;
  -webkit-appearance: none;
  background-color: transparent;
  z-index: 3;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  scale: 2;
  background-color: #0075ff;
  background-position: center center;
  background-position: center;
  height: 15px;
  width: 15px;
  border: 2px solid;
  border-radius: 50px;
}

.slider::-moz-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.invert {
  background-color: white;
}