.container {
  width: 80vw;
  height: 80vh;
  display: flex;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}

.card {
  right: 0px;
  width: 80vw;
  height: 80vh;
  position: absolute;
}

.ele {
  width: 80vw;
  height: 80vh;
  position: absolute;
}

.sliderdiv {
  position: absolute;
  right: 0px;
  overflow: hidden;
  height: 80vh;
  border-left: 2px solid white;
  width: 50%;
}
.slider {
  position: absolute;
  width: 100%;
  margin-top: 38vh;
  -webkit-appearance: none;
  background-color: transparent;
  z-index: 3;
}
.slider::-webkit-slider-thumb {
  scale: 2;
}
