:root {
  --bgcolor: #212121;
  --primary: #00ffbb;
  --secondary: #ffffff;
  --ternary: #09c5c5;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: var(--secondary);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: var(--bgcolor);
  scroll-behavior: smooth;
}

.mySection {
  height: 90vh;
  width: 100%;
  padding: 2rem;
}

.title {
  margin-left: 2rem;
  color: var(--primary);
}
.link {
  color: var(--secondary);
  cursor: pointer;
  padding: 2rem;
  font-size: larger;
}

.link:hover {
  color: var(--bgcolor);
  background-color: var(--secondary);
  border-radius: 10px 30px;
}

.link.active {
  background-color: var(--primary);
  color: var(--secondary);
}

.d-flex {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-only {
  display: flex;
  flex-direction: column;
}
.link-list {
  list-style: none;
  flex: 1;
  margin-right: 2rem;
}

.special-link {
  background-color: rgb(0, 113, 175);
  color: var(--secondary);
  border-radius: 10rem;
  text-decoration: none;
  padding: 10px 30px;
}

.special-link:hover {
  color: var(--secondary);
  background-color: rgb(10, 102, 194);
}

.header {
  background: #000;
  height: 10vh;
  position: sticky;
  top: 0;
}

.dvider {
  display: block;
  width: 0.5rem;
  background-color: white;
  height: 10rem;
}

.gap-2 {
  gap: 2rem;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}
.bg-white {
  background-color: white;
}
.special-font {
  font-size: 6rem;
  font-family: monospace;
}
.justify-content-around {
  justify-content: space-around;
}

.rippleEffect {
  animation: ripple 1s alternate-reverse infinite;
}

@keyframes ripple {
  0% {
    outline: 3px solid rgba(55, 110, 57, 0);
  }

  20% {
    outline: 5px solid rgba(55, 110, 57, 0.2);
  }

  40% {
    outline: 7px solid rgba(50, 117, 53, 0.4);
  }

  60% {
    outline: 9px solid rgba(50, 117, 53, 0.6);
  }

  80% {
    outline: 11px solid rgba(50, 117, 53, 0.8);
  }

  100% {
    outline: 13px solid rgba(50, 117, 53, 1);
  }
}
